* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.loading_container {
  height: 70vh;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.loading_container h1 {
  background-color: #fff;
}
.loading_container span {
  animation: fade 1s infinite reverse;
}
@keyframes fade {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.loading_container span:nth-child(1) {
  animation-delay: 0.1s;
}
.loading_container span:nth-child(2) {
  animation-delay: 0.2s;
}
.loading_container span:nth-child(3) {
  animation-delay: 0.3s;
}
.loading_container span:nth-child(4) {
  animation-delay: 0.4s;
}
.loading_container svg {
  position: relative;
  animation: loading 2s linear infinite alternate;
  background-color: transparent;
}
@keyframes loading {
  from {
    transform: translateX(-10px);
  }
  to {
    transform: translateX(200px);
  }
}

.typewriter_container {
  display: grid;
  place-items: center;
  height: 70vh;
  background-color: rgb(50, 49, 49);
  font-family: sans-serif;
  font-size: 3em;
  color: black;
}
.typewriter_container .typing {
  width: 11ch;
  overflow: hidden;
  border-right: 3px solid #fff;
  color: #fff;
  white-space: nowrap;
  background-color: transparent;
  animation: type 3s steps(13) infinite, blink 0.6s step-end infinite alternate;
}
@keyframes type {
  from {
    width: 0;
  }
}
@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.scale_container {
  height: 70vh;
  background-color: #f2f2f2;
  display: flex;
  justify-content: center;
  align-items: center;
}
.scale_container .box {
  width: 100px;
  height: 100px;
  background-color: #fff;
  border: 1px solid rgb(50, 49, 49);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s ease;
}
.scale_container .box h3 {
  background-color: transparent;
}
.scale_container .box:hover {
  scale: 3;
  background-color: aqua;
  border-radius: 15%;
  transform: rotate(360deg);
}
.scale_container .box:hover h3 {
  display: none;
}

.leftRight {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.2em;
  height: 70vh;
  background-color: rgb(50, 49, 49);
  overflow-x: hidden;
}
.leftRight h1 {
  animation: slide-in-out 6s ease-in-out infinite;
  background: transparent;
  color: #fff;
}
@keyframes slide-in-out {
  0% {
    translate: -100vw 0;
    opacity: 0;
  }
  25% {
    translate: 0 0;
    opacity: 1;
  }
  50% {
    translate: 0 0;
    opacity: 1;
  }
  100% {
    translate: 100vw 0;
    opacity: 0;
  }
}
.leftRight h1:nth-child(1) {
  animation-delay: 1.5s;
}
.leftRight h1:nth-child(2) {
  animation-delay: 1.3s;
}
.leftRight h1:nth-child(3) {
  animation-delay: 1.1s;
}
.leftRight h1:nth-child(4) {
  animation-delay: 0.9s;
}
.leftRight h1:nth-child(5) {
  animation-delay: 0.7s;
}
.leftRight h1:nth-child(6) {
  animation-delay: 0.5s;
}
.leftRight h1:nth-child(7) {
  animation-delay: 0.3s;
}
.leftRight h1:nth-child(8) {
  animation-delay: 0.2s;
}
.leftRight h1:nth-child(9) {
  animation-delay: 0.1s;
}
.leftRight h1:nth-child(10) {
  animation-delay: 0.1s;
}

.bouncing_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 70vh;
  background-color: #fff;
}
.bouncing_container h1 {
  letter-spacing: 12px;
  background-color: transparent;
  animation: bounce 1s linear infinite;
}
@keyframes bounce {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-25px);
  }
}
.bouncing_container h1:nth-child(1) {
  animation-delay: 1s;
}
.bouncing_container h1:nth-child(2) {
  animation-delay: 0.9s;
}
.bouncing_container h1:nth-child(3) {
  animation-delay: 0.8s;
}
.bouncing_container h1:nth-child(4) {
  animation-delay: 0.7s;
}
.bouncing_container h1:nth-child(5) {
  animation-delay: 0.6s;
}
.bouncing_container h1:nth-child(6) {
  animation-delay: 0.5s;
}
.bouncing_container h1:nth-child(7) {
  animation-delay: 0.4s;
}
.bouncing_container h1:nth-child(8) {
  animation-delay: 0.3s;
}
.bouncing_container h1:nth-child(9) {
  animation-delay: 0.2s;
}
.bouncing_container h1:nth-child(10) {
  animation-delay: 0.1s;
}

.animated_button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 70vh;
  background: rgb(50, 49, 49);
  overflow: hidden;
  position: relative;
}
.animated_button .button_inner {
  position: relative;
  padding: 20px 60px;
  font-family: sans-serif;
  font-size: 50px;
  color: white;
  background: transparent;
  border: 2px solid rgba(255, 255, 255, 0.2);
  box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
  overflow: hidden;
  cursor: pointer;
  transition: 2s;
}
.animated_button .button_inner:hover {
  background: #18eebc;
  color: #000;
  box-shadow: 0px 25px 50px #18eebc;
  transform: translateY(-30px);
  transition: 1s;
}
.animated_button .button_inner:hover span {
  background: #18eebc;
}
.animated_button .button_inner::before {
  content: "";
  position: absolute;
  top: 2px;
  left: 2px;
  width: 50%;
  height: 100%;
  background: rgba(255, 255, 255, 0.05);
}
.animated_button .button_inner span:nth-child(1) {
  position: absolute;
  top: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to right, transparent, #1779ff, transparent);
  animation: span1 2s linear infinite;
}
@keyframes span1 {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}
.animated_button .button_inner span:nth-child(2) {
  position: absolute;
  right: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to bottom, transparent, #1779ff, transparent);
  animation: span2 2s linear infinite;
  animation-delay: 1;
}
@keyframes span2 {
  0% {
    transform: translateY(-100%);
  }
  100% {
    transform: translateY(100%);
  }
}
.animated_button .button_inner span:nth-child(3) {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 2px;
  width: 100%;
  background: linear-gradient(to left, transparent, #1779ff, transparent);
  animation: span3 2s linear infinite;
}
@keyframes span3 {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
.animated_button .button_inner span:nth-child(4) {
  position: absolute;
  left: 0;
  top: 0;
  width: 2px;
  height: 100%;
  background: linear-gradient(to top, transparent, #1779ff, transparent);
  animation: span4 2s linear infinite;
  animation-delay: 1;
}
@keyframes span4 {
  0% {
    transform: translateY(100%);
  }
  100% {
    transform: translateY(-100%);
  }
}

.slider_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 16px;
  height: 70vh;
}
.slider_container .arrow {
  background-color: rgba(23, 24, 23, 0.829);
  width: 25px;
  height: 25px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 10;
}
.slider_container .frame {
  width: 300px;
  height: auto;
  overflow-x: hidden;
  border-radius: 10px;
  box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5);
}
.slider_container .frame .slider {
  display: flex;
  transition: all 1s ease;
}
.slider_container .frame .slider .image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.flipCard_container {
  perspective: 1000px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(50, 49, 49);
  height: 70vh;
}
.flipCard_container img {
  width: 300px;
  height: 400px;
}
.flipCard_container .flipCard {
  width: 300px;
  height: 400px;
  transition: transform 1s;
  transform-style: preserve-3d;
  position: relative;
  cursor: pointer;
}
.flipCard_container .flipCard:hover {
  transform: rotateY(180deg);
}
.flipCard_container .flipCard .flipCard_front,
.flipCard_container .flipCard .flipCard_back {
  width: 100%;
  height: 100%;
  position: absolute;
  backface-visibility: hidden;
  color: aquamarine;
  background: green;
}
.flipCard_container .flipCard .flipCard_back {
  transform: rotateY(180deg);
  background: #f2f2f2;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #000;
  border: 1px solid rgb(50, 50, 50);
}

.text_change {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
  font-family: "Times New Roman", Times, serif;
  font-weight: 500;
  font-size: 1.5rem;
}
.text_change .intro_text {
  margin-top: -2px;
  margin-right: 12px;
}
.text_change .role_container {
  overflow: hidden;
  position: relative;
  height: 32px;
}
.text_change .role_container .role {
  display: block;
  height: 100%;
  color: #0A0A59;
  font-weight: 900;
  animation: role-change 4s infinite;
}
@keyframes role-change {
  10% {
    transform: translateY(-102%);
  }
  25% {
    transform: translateY(-100%);
  }
  35% {
    transform: translateY(-202%);
  }
  50% {
    transform: translateY(-200%);
  }
  60% {
    transform: translateY(-302%);
  }
  75% {
    transform: translateY(-300%);
  }
  85% {
    transform: translateY(-402%);
  }
  100% {
    transform: translateY(-400%);
  }
}

.rotate {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(50, 49, 49);
  height: 70vh;
  position: relative;
}
.rotate svg {
  background: transparent;
  animation: rotate 1s linear infinite;
}
.rotate svg:hover {
  animation-play-state: paused;
}
@keyframes rotate {
  to {
    transform: rotate(360deg);
  }
}

.sliding_container {
  overflow: hidden;
  height: 70vh;
  display: grid;
  align-content: center;
}
.sliding_container .background {
  height: 200px;
  width: 5076px;
  background: url("/images/image1.png");
  animation: slide 60s linear infinite;
}
.sliding_container .background:hover {
  animation-play-state: paused;
}
@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1692px, 0, 0);
  }
}

.border_container {
  background-color: rgb(50, 49, 49);
  height: 70vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.border_container .border_card {
  background-color: rgba(121, 125, 128, 0.159);
  width: 250px;
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
  position: relative;
  overflow: hidden;
}
.border_container .border_card h1 {
  color: white;
  text-align: center;
  background: transparent;
  font-size: 25px;
  z-index: 2;
}
.border_container .border_card::before {
  content: "";
  position: absolute;
  width: 150px;
  height: 150%;
  background: linear-gradient(blue, red);
  animation: spin 4s linear infinite;
}
.border_container .border_card::after {
  content: "";
  position: absolute;
  inset: 4px;
  background-color: rgb(50, 49, 49);
  border-radius: 20px;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.cube_outer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  height: 70vh;
}
.cube_outer .cube_container {
  height: 200px;
  width: 200px;
  perspective: 500px;
}
.cube_outer .cube_container .cube_inner {
  height: 200px;
  width: 200px;
  position: relative;
  transform-style: preserve-3d;
  transform: rotate3d(1, 1, 0, 45deg);
  animation: animate 6s linear infinite;
}
.cube_outer .cube_container .cube_inner .cube {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 200px;
  height: 200px;
  background-color: skyblue;
  border: 1px solid rgba(50, 47, 47, 0.415);
  opacity: 0.5;
  font-size: 2rem;
  position: absolute;
}
.cube_outer .cube_container .cube_inner .front {
  transform: translateZ(100px);
}
.cube_outer .cube_container .cube_inner .back {
  transform: translateZ(-100px) rotateY(180deg);
}
.cube_outer .cube_container .cube_inner .left {
  transform: translateX(-100px) rotateY(-90deg);
}
.cube_outer .cube_container .cube_inner .right {
  transform: translateX(100px) rotateY(90deg);
}
.cube_outer .cube_container .cube_inner .top {
  transform: translateY(-100px) rotateX(-90deg);
}
.cube_outer .cube_container .cube_inner .bottom {
  transform: translateY(100px) rotateX(90deg);
}
@keyframes animate {
  from {
    transform: rotate3d(0, 0, 0, 0);
  }
  to {
    transform: rotate3d(1, 1, 0, 360deg);
  }
}

.card_container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 10px;
  height: 70vh;
  background: rgb(50, 49, 49);
  position: relative;
}
.card_container .card {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 10px;
  width: 300px;
  height: 400px;
  color: #fff;
  border-radius: 16px;
  position: absolute;
  border: 1px solid skyblue;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease-out;
}
.card_container .card:hover {
  transform: rotateZ(-10deg) translate(-110px);
}
.card_container .one {
  z-index: 5;
  right: 60%;
  background-color: crimson;
}
.card_container .two {
  z-index: 10;
  right: 50%;
  background-color: #1779ff;
}
.card_container .three {
  z-index: 20;
  right: 40%;
  background-color: #18eebc;
}
.card_container .four {
  z-index: 30;
  right: 30%;
  background-color: brown;
}
.card_container .five {
  z-index: 40;
  right: 20%;
  background-color: chartreuse;
}/*# sourceMappingURL=style.css.map */