* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #f2f2f2;
}

// loading style
.loading_container {
    height: 70vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1 {
        background-color: #fff;
    }

    svg {
        position: relative;
        animation: loading 2s linear infinite alternate;
        background-color: transparent;
    }


    @keyframes loading {
        from {
            transform: translateX(-10px);
        }

        to {
            transform: translateX(200px);
        }
    }
}

// scale box style
.scale_container {
    height: 70vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        width: 100px;
        height: 100px;
        background-color: #fff;
        border: 1px solid rgb(50, 49, 49);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 02s ease;

        h3 {
            background-color: transparent;
        }

        &:hover {
            scale: 5;
            background-color: aqua;

            h3 {
                display: none;
            }
        }

    }
}

// left to right slide-in animation style
.leftRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    height: 70vh;
    background-color: #fff;
    overflow-x: hidden;

    h1 {
        animation: slide-in 3s 3;
        background-color: #fff;
    }

    @keyframes slide-in {
        from {
            translate: -100vw 0;
            opacity: 0;
        }

        to {
            translate: 0 0;
            opacity: 1;
        }
    }

    h1:nth-child(1) {
        animation-delay: 1s;
    }

    h1:nth-child(2) {
        animation-delay: 0.9s;
    }

    h1:nth-child(3) {
        animation-delay: 0.8s;
    }

    h1:nth-child(4) {
        animation-delay: 0.7s;
    }

    h1:nth-child(5) {
        animation-delay: 0.6s;
    }

    h1:nth-child(6) {
        animation-delay: 0.5s;
    }

    h1:nth-child(7) {
        animation-delay: 0.4s;
    }

    h1:nth-child(8) {
        animation-delay: 0.3s;
    }

    h1:nth-child(9) {
        animation-delay: 0.2s;
    }

    h1:nth-child(10) {
        animation-delay: 0.1s;
    }
}

// slider style
.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 70vh;

    .arrow {
        background-color: rgba(23, 24, 23, 0.829);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 10;
    }

    .frame {
        width: 300px;
        height: auto;
        overflow-x: hidden;
        border-radius: 10px;
        box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5);

        .slider {
            display: flex;
            transition: all 1s ease;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}

// flip card style
.flipCard_container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
    height: 70vh;

    img {
        width: 300px;
        height: 400px;
    }

    .flipCard {
        width: 300px;
        height: 400px;
        transition: transform 1s;
        transform-style: preserve-3d;
        position: relative;
        cursor: pointer;

        &:hover {
            transform: rotateY(180deg);
        }

        .flipCard_front,
        .flipCard_back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            color: aquamarine;
            background: green;
        }

        .flipCard_back {
            transform: rotateY(180deg);
            background: #f2f2f2;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #000;
            border: 1px solid rgb(50, 50, 50);
        }
    }
}

// text change style
.text_change {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.5rem;

    .intor_text {
        margin-top: -2px;
        margin-right: 12px;
    }

    .role_container {
        overflow: hidden;
        position: relative;
        height: 32px;

        .role {
            display: block;
            height: 100%;
            color: #23c3a6da;
            font-weight: 900;
            animation: role-change 4s infinite;

            @keyframes role-change {
                10% {
                    transform: translateY(-102%);
                }

                25% {
                    transform: translateY(-100%);
                }

                35% {
                    transform: translateY(-202%);
                }

                50% {
                    transform: translateY(-200%);
                }

                60% {
                    transform: translateY(-302%);
                }

                75% {
                    transform: translateY(-300%);
                }

                85% {
                    transform: translateY(-402%);
                }

                100% {
                    transform: translateY(-400%);
                }
            }
        }
    }
}

// rotate style
.rotate {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #fff;
    height: 70vh;
    position: relative;

    svg {
        background: transparent;
        animation: rotate 1s linear infinite;

        @keyframes rotate {
            to {
                transform: rotate(360deg);
            }
        }
    }
}

// sliding without carousel
.sliding_container {
    overflow: hidden;
    height: 70vh;

    .background {
        height: 200px;
        width: 5076px;
        background: url("/images/image1.png");
        animation: slide 60s linear infinite;

        @keyframes slide {
            0% {
                transform: translate3d(0, 0, 0);
            }

            100% {
                transform: translate3d(-1692px, 0, 0);
            }
        }
    }
}

// animate border style
.border_container {
    background-color: rgb(50, 49, 49);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .border_card {
        background-color: rgba(121, 125, 128, 0.159);
        width: 300px;
        height: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        h1 {
            color: white;
            text-align: center;
            background: transparent;
            font-size: 40px;
            z-index: 2;
        }
    }

    .border_card::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 150%;
        background: linear-gradient(blue, red);
        animation: spin 4s linear infinite;
    }

    .border_card::after {
        content: "";
        position: absolute;
        inset: 4px;
        background-color: rgb(50, 49, 49);
        border-radius: 20px;

    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }

    }
}