@import "./variables";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


// loading style
.loading_container {
    height: 70vh;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;

    h1 {
        background-color: #fff;
    }

    span {
        animation: fade 1s infinite reverse;
    }

    @keyframes fade {
        from {
            opacity: 0;
        }

        to {
            opacity: 1;
        }
    }

    span:nth-child(1) {
        animation-delay: 0.1s;
    }

    span:nth-child(2) {
        animation-delay: 0.2s;
    }

    span:nth-child(3) {
        animation-delay: 0.3s;
    }

    span:nth-child(4) {
        animation-delay: 0.4s;
    }

    svg {
        position: relative;
        animation: loading 2s linear infinite alternate;
        background-color: transparent;
    }


    @keyframes loading {
        from {
            transform: translateX(-10px);
        }

        to {
            transform: translateX(200px);
        }
    }
}

// typewriter effect style
.typewriter_container {
    display: grid;
    place-items: center;
    height: 70vh;
    background-color: $color_dark;
    font-family: sans-serif;
    font-size: 3em;
    color: black;

    .typing {
        width: 11ch;
        overflow: hidden;
        border-right: 3px solid $color_white;
        color: $color_white;
        white-space: nowrap;
        background-color: transparent;
        animation: type 3s steps(13) infinite, blink 0.6s step-end infinite alternate;

        @keyframes type {
            from {
                width: 0;
            }
        }

        @keyframes blink {
            50% {
                border-color: transparent;
            }
        }
    }
}

// scale box style
.scale_container {
    height: 70vh;
    background-color: #f2f2f2;
    display: flex;
    justify-content: center;
    align-items: center;

    .box {
        width: 100px;
        height: 100px;
        background-color: #fff;
        border: 1px solid rgb(50, 49, 49);
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 1s ease;

        h3 {
            background-color: transparent;
        }

        &:hover {
            scale: 3;
            background-color: aqua;
            border-radius: 15%;
            transform: rotate(360deg);

            h3 {
                display: none;
            }
        }

    }
}

// text slide animation style
.leftRight {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2em;
    height: 70vh;
    background-color: $color_dark;
    overflow-x: hidden;

    h1 {
        animation: slide-in-out 6s ease-in-out infinite;
        background: transparent;
        color: $color_white;
    }

    @keyframes slide-in-out {
        0% {
            translate: -100vw 0;
            opacity: 0;
        }

        25% {
            translate: 0 0;
            opacity: 1;
        }

        50% {
            translate: 0 0;
            opacity: 1;
        }

        100% {
            translate: 100vw 0;
            opacity: 0;
        }
    }

    h1:nth-child(1) {
        animation-delay: 1.5s;
    }

    h1:nth-child(2) {
        animation-delay: 1.3s;
    }

    h1:nth-child(3) {
        animation-delay: 1.1s;
    }

    h1:nth-child(4) {
        animation-delay: 0.9s;
    }

    h1:nth-child(5) {
        animation-delay: 0.7s;
    }

    h1:nth-child(6) {
        animation-delay: 0.5s;
    }

    h1:nth-child(7) {
        animation-delay: 0.3s;
    }

    h1:nth-child(8) {
        animation-delay: 0.2s;
    }

    h1:nth-child(9) {
        animation-delay: 0.1s;
    }

    h1:nth-child(10) {
        animation-delay: 0.1s;
    }
}

//text Animation style 
.bouncing_container {
    @include flexCenter(center, row);
    height: 70vh;
    background-color: $color_white;

    h1 {
        letter-spacing: 12px;
        background-color: transparent;
        animation: bounce 1s linear infinite;
    }

    @keyframes bounce {

        0% {
            transform: translateY(0);
        }

        50% {
            transform: translateY(-25px);
        }

    }

    h1:nth-child(1) {
        animation-delay: 1s;
    }

    h1:nth-child(2) {
        animation-delay: 0.9s;
    }

    h1:nth-child(3) {
        animation-delay: 0.8s;
    }

    h1:nth-child(4) {
        animation-delay: 0.7s;
    }

    h1:nth-child(5) {
        animation-delay: 0.6s;
    }

    h1:nth-child(6) {
        animation-delay: 0.5s;
    }

    h1:nth-child(7) {
        animation-delay: 0.4s;
    }

    h1:nth-child(8) {
        animation-delay: 0.3s;
    }

    h1:nth-child(9) {
        animation-delay: 0.2s;
    }

    h1:nth-child(10) {
        animation-delay: 0.1s;
    }

}

// animated button
.animated_button {
    @include flexCenter(center, row);
    height: 70vh;
    background: $color_dark;
    overflow: hidden;
    position: relative;

    .button_inner {
        position: relative;
        padding: 20px 60px;
        font-family: sans-serif;
        font-size: 50px;
        color: white;
        background: transparent;
        border: 2px solid rgba(255, 255, 255, 0.2);
        box-shadow: 0px 25px 50px rgba(0, 0, 0, 0.5);
        overflow: hidden;
        cursor: pointer;
        transition: 2s;

        &:hover {
            background: #18eebc;
            color: #000;
            box-shadow: 0px 25px 50px #18eebc;
            transform: translateY(-30px);
            transition: 1s;
        }

        &:hover span {
            background: #18eebc;
        }
    }


    .button_inner::before {
        content: "";
        position: absolute;
        top: 2px;
        left: 2px;
        width: 50%;
        height: 100%;
        background: rgba(255, 255, 255, 0.05);
    }


    .button_inner span:nth-child(1) {
        position: absolute;
        top: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: linear-gradient(to right, transparent, #1779ff, transparent);
        animation: span1 2s linear infinite;

        @keyframes span1 {
            0% {
                transform: translateX(-100%);
            }

            100% {
                transform: translateX(100%);
            }
        }
    }

    .button_inner span:nth-child(2) {
        position: absolute;
        right: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to bottom, transparent, #1779ff, transparent);
        animation: span2 2s linear infinite;
        animation-delay: 1;

        @keyframes span2 {
            0% {
                transform: translateY(-100%);
            }

            100% {
                transform: translateY(100%);
            }
        }
    }

    .button_inner span:nth-child(3) {
        position: absolute;
        bottom: 0;
        left: 0;
        height: 2px;
        width: 100%;
        background: linear-gradient(to left, transparent, #1779ff, transparent);
        animation: span3 2s linear infinite;



        @keyframes span3 {
            0% {
                transform: translateX(100%);
            }

            100% {
                transform: translateX(-100%);
            }
        }
    }

    .button_inner span:nth-child(4) {
        position: absolute;
        left: 0;
        top: 0;
        width: 2px;
        height: 100%;
        background: linear-gradient(to top, transparent, #1779ff, transparent);
        animation: span4 2s linear infinite;
        animation-delay: 1;

        @keyframes span4 {
            0% {
                transform: translateY(100%);
            }

            100% {
                transform: translateY(-100%);
            }
        }
    }
}

// slider style
.slider_container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 16px;
    height: 70vh;

    .arrow {
        background-color: rgba(23, 24, 23, 0.829);
        width: 25px;
        height: 25px;
        border-radius: 50%;
        cursor: pointer;
        z-index: 10;
    }

    .frame {
        width: 300px;
        height: auto;
        overflow-x: hidden;
        border-radius: 10px;
        box-shadow: -1px 1px 10px rgba(0, 0, 0, 0.5);

        .slider {
            display: flex;
            transition: all 1s ease;

            .image {
                width: 100%;
                height: 100%;
                object-fit: cover;
            }
        }
    }

}

// flip card style
.flipCard_container {
    perspective: 1000px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $color_dark;
    height: 70vh;

    img {
        width: 300px;
        height: 400px;
    }

    .flipCard {
        width: 300px;
        height: 400px;
        transition: transform 1s;
        transform-style: preserve-3d;
        position: relative;
        cursor: pointer;

        &:hover {
            transform: rotateY(180deg);
        }

        .flipCard_front,
        .flipCard_back {
            width: 100%;
            height: 100%;
            position: absolute;
            backface-visibility: hidden;
            color: aquamarine;
            background: green;
        }

        .flipCard_back {
            transform: rotateY(180deg);
            background: #f2f2f2;
            display: flex;
            justify-content: center;
            flex-direction: column;
            align-items: center;
            color: #000;
            border: 1px solid rgb(50, 50, 50);
        }
    }
}

// text change style
.text_change {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70vh;
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
    font-size: 1.5rem;

    .intro_text {
        margin-top: -2px;
        margin-right: 12px;
    }

    .role_container {
        overflow: hidden;
        position: relative;
        height: 32px;

        .role {
            display: block;
            height: 100%;
            color: #0A0A59;
            font-weight: 900;
            animation: role-change 4s infinite;

            @keyframes role-change {
                10% {
                    transform: translateY(-102%);
                }

                25% {
                    transform: translateY(-100%);
                }

                35% {
                    transform: translateY(-202%);
                }

                50% {
                    transform: translateY(-200%);
                }

                60% {
                    transform: translateY(-302%);
                }

                75% {
                    transform: translateY(-300%);
                }

                85% {
                    transform: translateY(-402%);
                }

                100% {
                    transform: translateY(-400%);
                }
            }
        }
    }
}

// rotate style
.rotate {
    display: flex;
    justify-content: center;
    align-items: center;
    background: $color_dark;
    height: 70vh;
    position: relative;

    svg {
        background: transparent;
        animation: rotate 1s linear infinite;

        &:hover {
            animation-play-state: paused;
        }

        @keyframes rotate {
            to {
                transform: rotate(360deg);
            }
        }
    }
}

// sliding without carousel
.sliding_container {
    overflow: hidden;
    height: 70vh;
    display: grid;
    align-content: center;

    .background {
        height: 200px;
        width: 5076px;
        background: url("/images/image1.png");
        animation: slide 60s linear infinite;

        &:hover {
            animation-play-state: paused;
        }

        @keyframes slide {
            0% {
                transform: translate3d(0, 0, 0);
            }

            100% {
                transform: translate3d(-1692px, 0, 0);
            }
        }
    }
}

// animate border style
.border_container {
    background-color: rgb(50, 49, 49);
    height: 70vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .border_card {
        background-color: rgba(121, 125, 128, 0.159);
        width: 250px;
        height: 300px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 20px;
        position: relative;
        overflow: hidden;

        h1 {
            color: white;
            text-align: center;
            background: transparent;
            font-size: 25px;
            z-index: 2;
        }
    }

    .border_card::before {
        content: "";
        position: absolute;
        width: 150px;
        height: 150%;
        background: linear-gradient(blue, red);
        animation: spin 4s linear infinite;
    }

    .border_card::after {
        content: "";
        position: absolute;
        inset: 4px;
        background-color: rgb(50, 49, 49);
        border-radius: 20px;

    }

    @keyframes spin {
        from {
            transform: rotate(0deg);
        }

        to {
            transform: rotate(360deg);
        }

    }
}

// cube style
.cube_outer {
    @include flexCenter(center, row);
    height: 70vh;
    .cube_container {
        height: 200px;
        width: 200px;
        perspective: 500px;
    .cube_inner {
            height: 200px;
            width: 200px;
            position: relative;
            transform-style: preserve-3d;
            transform: rotate3d(1, 1, 0, 45deg);
            animation: animate 6s linear infinite;

            .cube {
                @include flexCenter(center, row);
                width: 200px;
                height: 200px;
                background-color: skyblue;
                border: 1px solid rgba(50, 47, 47, 0.415);
                opacity: 0.5;
                font-size: 2rem;
                position: absolute;
            }

            .front {
                transform: translateZ(100px)
            }

            .back {
                transform: translateZ(-100px) rotateY(180deg);
            }

            .left {
                transform: translateX(-100px) rotateY(-90deg);
            }

            .right {
                transform: translateX(100px) rotateY(90deg);
            }

            .top {
                transform: translateY(-100px) rotateX(-90deg);
            }

            .bottom {
                transform: translateY(100px) rotateX(90deg);
            }
        }

        @keyframes animate {
            from {
                transform: rotate3d(0, 0, 0, 0);
            }

            to {
                transform: rotate3d(1, 1, 0, 360deg);
            }
        }
    }
}

// card hover
.card_container{
    @include flexCenter(center, row);
    gap: 10px;
    height: 70vh;
    background: $color_dark;
    position: relative;
    
    .card{
        @include flexCenter(center, column);
        gap: 10px;
        width: 300px;
        height: 400px;
        color: $color_white;
        border-radius: 16px;
        position: absolute;
        border: 1px solid skyblue;
        overflow: hidden;
        cursor: pointer;
        transition: transform 0.3s ease-out; 
        &:hover{
            transform:rotateZ(-10deg) translate(-110px);
                       
        }
    }
    .one{
       z-index: 5;
        right: 60%;
        background-color:crimson; 
    }
    .two{
       z-index: 10;
        right: 50%;
        background-color: #1779ff;
    }
    .three{
        z-index: 20;
        right: 40%;
        background-color: #18eebc;
    }
    .four{
        z-index: 30;
        right: 30%;
        background-color: brown;
    }
    .five{
        z-index: 40;
        right: 20%;
        background-color: chartreuse;
    }
}