*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    display: grid;
    place-content: center;
    height: 100vh;
    width: 100%;
    background: linear-gradient(to top, rgb(0, 238, 255), rgb(153, 255, 0));
    color: blue;
}
